<header class="hero-unit" id="banner">
      <div class="container">
        <h1>Poll It!</h1>
        <p>Create. Share. Analyze.</p>
      </div>
      <div class="container" style="width:100%">
        <img class="image" height="100px" src="./img/checkbox.png">
        <img class="image" height="100px" src="./img/share.png">
        <img class="image" height="100px" src="./img/analyze.png">
      </div>
      <p style="font-size:30px;">All in one place</p>
      <a ng-show="user.isLoggedIn" href="/newPoll"><button style="margin-top:15px" type="button" class="btn btn-default btn-lg">
        New Poll
      </button></a>
      <a ng-hide="user.isLoggedIn" href="/browsePolls"><button style="margin-top:15px" type="button" class="btn btn-default btn-lg">
        Browse Polls
      </button></a>
    </header>
