<header class="hero-unit" id="banner">
  <div class="container home">
    <h1>MEAN Base</h1>
    <p>A Scalable Starter</p>
  </div>
</header>

<div class="mean-stack">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3">
                <h3>MongoDB</h3>
            </div>
            <div class="col-md-3">
                <h3>Express</h3>
            </div>
            <div class="col-md-3">
                <h3>Angular</h3>
            </div>
            <div class="col-md-3">
                <h3>Node</h3>
            </div>
        </div>
    </div>
</div>

<div class="features">
    <div class="container">
        <div class="row text-center">
            <h1>Features</h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>Users</h3>
                <p>Single sign on using passport.js. Includes a function to check for valid sessions.</p>
            </div>
            <div class="col-md-4">
                <h3>Extra User Data</h3>
                <p>Includes extra user data fields such as an admin(true or false), license(string), role(string).</p>
            </div>
            <div class="col-md-4">
                <h3>Account and Admin Areas</h3>
                <p>Both Account and Admin area are specific to the user. If the controller denies the authentication, they are redirected to login.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>Partials</h3>
                <p>Header and Footer partials are included as examples in public/js/partials directory. They are used in the public/js/index.html file.</p>
            </div>
            <div class="col-md-4">
                <h3>Conditional Menu Items</h3>
                <p>Menu items are conditional based on the type of user.</p>
            </div>
            <div class="col-md-4">
                <h3>Manageable Structure</h3>
                <p>The structure is currently set up so each area has it's own set of controllers and views. This could not be the best case in all scenarios.</p>
            </div>
        </div>
        <div class="row text-center callout-message">
            <h1>For Anyone Learning Or Building Large Applications</h1>
        </div>
    </div>
</div>
